p{
  font-family: montserrat;
}
.model{
  font-weight: bold;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
}
.order{
  font-size: 11px;
  margin-top: 0;
  text-align: center;
}